* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 25px;
    max-width: 100%;
  }
  
  .title h1 {
    text-transform: uppercase;
    text-align: center;
  }
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 700px;
    margin: 10px 0 25px;
    width: 700px;
  }
  
  .cell {
    align-items: center;
    background: #4370F1;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100px;
  }
  
  .cell::after {
     background: white;
     border-radius: 50%;
     border: 3px solid black;
     content: '';
     cursor: pointer;
     height: 75px;
     width: 75px;
   }
  
  .cell:not(.row-top).red::after {
    background: red;
  }
  .cell:not(.row-top).yellow::after {
    background: yellow;
  }
  
  .cell:not(.row-top).red.win {
    background: red;
  }
  
  .cell:not(.row-top).yellow.win {
    background: yellow;
  }
  
  .cell.row-top {
    background: white;
  }
  
  .cell.row-top::after {
    border: none;
  }
  
  .cell.row-top.red::after {
    background: red;
    border: 3px solid black;
  }
  
  .cell.row-top.yellow::after {
    background: yellow;
    border: 3px solid black;
  }
  
  .footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 700px;
  }
  
  .reset {
    background-color: #4370F1;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    text-transform: uppercase;
  }
  
  .reset:hover {
    background-color: #1D50F1;
  }
  
  .reset:active {
    background-color: #4d7ef1;
  
  }
  
  .status {
    display: block;
    font-size: 20px;
  }
  
  /* Util CSS */
  .left-border {
    border-left: 3px solid black;
  }
  
  .top-border {
    border-top: 3px solid black;
  }
  
  .right-border {
    border-right: 3px solid black;
  }
  
  .bottom-border {
    border-bottom: 3px solid black;
  }
  
  .left-border.top-border {
    border-radius: 10px 0 0 0;
  }
  
  .right-border.top-border {
    border-radius: 0 10px 0 0;
  }
  
  .right-border.bottom-border {
    border-radius: 0 0 10px 0;
  }
  
  .left-border.bottom-border {
    border-radius: 0 0 0 10px;
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card-body {
    padding: 2px 16px;
  }

.cardsContainer{
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-separator{
    width: 700px;
    height: 0px;
    font-size: 20px;
    margin: 0.5em;
}


.btn-classic{
    cursor:pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0.5em;
}

button[disabled=disabled], button:disabled{
    background-color: #fcce89;
    border-color: #fcce89;
}

.btn-classic:hover:enabled {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.game-board{
    margin-top: -10px;
}

.btn-danger{
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0.5em;
}

.btn-secondary{
  cursor:pointer;
  outline: 0;
  color: #fff;
  background-color: #575757;
  border-color: #575757;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 0.5em;
}

.btn-dark{
  cursor:pointer;
  outline: 0;
  color: #fff;
  background-color: #000000;
  border-color: #000000;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 0.5em;
}

.btn-result{
  cursor:pointer;
  outline: 0;
  color: #fff;
  background-color: #00aa00;
  border-color: #00aa00;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 0.5em;
}

.btn-accept{
  cursor:pointer;
  outline: 0;
  color: #fff;
  background-color: #ff7b00;
  border-color: #ff7b00;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 0.5em;
}

.card-body input{
    
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0.5em;
}

.card-body input:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.card-body{
    width: 300px;
}

.card-body h5{
    margin: 1em;
}